@import "./common";
@import "@material/elevation/mdc-elevation";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";


.self-introduction {
    display: flex;
    flex-direction: row;
}

.profile-image {
    max-width: 150px;
    border-radius: 50%;
}
